@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* === Reset CSS ===*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Raleway", sans-serif;
  background-color: #f5f3f4;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* === Custom Styles ===*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .header__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
  }

  .header__nav {
    margin: 1.3rem;

    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;

      li {
        margin-right: 10px;

        a {
          text-decoration: none;
          color: #333;
          font-weight: 500;
          padding: 5px 10px;
          border-radius: 5px;
          transition: all 0.3s ease;

          &:hover {
            background-color: #333;
            color: #fff;
          }
        }
      }
    }

  }
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main__about {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: left;
    width: 40%;
    margin: 5rem;


    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: #333;
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
      color: #333;
      margin-top: 10px;

      b {
        font-weight: 700;
      }
    }

    .main__about__social-media {
      margin-top: 20px;

      a {
        text-decoration: none;
        color: #000000;
        font-size: 1.2rem;
        margin-right: 10px;
        transition: all 0.3s ease;

        &:hover {
          color: #333;
        }
      }
    }

    .main__about__tech-stack {
      margin-top: 3rem;

      p {
        font-size: 1.2rem;
        font-weight: 400;
        color: #333;
        margin-top: 10px;
      }

      i {
        font-size: 1.8rem;
        margin-right: 0.4rem;
        color: #333;

      }

    }

  }

  .main__photo {
    float: right;
    width: 50%;
    padding: 20px;
    text-align: center;
    width: 40%;
    margin: 5rem;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .img {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
    width: 40%;
    margin: 5rem;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  .about-me__content {
    float: right;
    width: 50%;
    padding: 20px;
    text-align: left;
    width: 40%;
    margin: 5rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: #333;
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
      color: #333;
      margin-top: 10px;

      b {
        font-weight: 700;
      }
    }

  }
}

.projects {

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-top: 5rem;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 20px;
    width: 20%;
  }
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f5f3f4;
  color: #333;

  p {
    font-size: 1rem;
    font-weight: 400;
  }
}

/* === Media Queries ===*/

@media screen and (max-width: 1039px) {
  .main {
    .main__about {
      p {
        font-size: 0.9rem;
      }
    }
  }

  .about-me {
    .about-me__content {
      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 914px) {
  .main {
    .main__about {
      h2 {
        font-size: 1.8rem;
      }
    }
  }

  .main {
    .main__about {
      .main__about__tech-stack {
        i {
          font-size: 1.5rem;
        }
      }
    }
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column-reverse;
    margin: 0;

    .img {
      float: unset;
      margin: 0;
      padding: 0;

    }
  }
}

@media screen and (max-width: 887px) {
  .main {
    .main__about {
      .main__about__tech-stack {
        i {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 875px) {
  .main {
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .main__photo {
      margin: 0;
    }
  }
}

@media screen and (max-width: 594px) {
  .main {
    .main__about {
      h2 {
        font-size: 1.5rem;
      }
      .main__about__tech-stack {
        i {
          font-size: 1.2rem;
        }
      }
    }
  }

  .about-me {
    .about-me__content {
      margin: 0;
    }
  }
}

@media screen and (max-width: 563px) {
  .main {
    .main__about {
      .main__about__tech-stack {
        p {
          font-size: 1rem;
        }

        i {
          font-size: 1rem;
        }
      }
    }
  }  
}

@media screen and (max-width: 500px) {
  .header__title {
    h1 {
      font-size: 1.2rem;
    }
  }

  .header_nav {
    ul li {
      a {
        font-size: 0.8rem;
      }
    }
  } 
}

@media screen and (max-width: 481px) {
  .main {
    .main__about {
      h2 {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 466px) {
  
}